.card-customizer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
}

.logo {
  width: 20%;
  height: auto;
}

.card-customizer-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #fafafa;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.templates {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.template-button {
  padding: 10px 15px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.template-button:hover {
  background-color: rgba(17, 73, 158, 0.5);
}

.template-button.selected {
  background-color: #99b3ff;
}

.upload-button {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background-color: #28a745;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
}

.upload-button input {
  display: none;
}

.save-crop-button {
  padding: 10px 15px;
  color: #fff;
  background-color: #007bff;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.output {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.cropper-container {
  width: 100%;
  max-width: 400px;
  height: 300px;
  position: relative;
  margin-bottom: 20px;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.final-output {
  text-align: center;
}

.customized-card-canvas {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.download-button, .submit-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button {
  background-color: #28a745;
  color: white;
}

.download-button:hover {
  background-color: #218838;
}

.submit-button {
  background-color: #007bff;
  color: white;
}

.submit-button:hover {
  background-color: #0056b3;
}

.template-preview {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar .save-crop-button {
  margin-top: 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar .save-crop-button:hover {
  background-color: #0056b3;
}

.upload-button {
  margin-top: 20px;
  border: none;
  background-color: #28a745;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #218838;
}
